<!DOCTYPE>
<hmtl>
<head>
    <title>RCcar Control Center</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width-device-width, initial-scale=1" />
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/static/css/keen-dashboards.css" rel="stylesheet" />
    <link href="/static/css/style.css" rel="stylesheet"> <!-- virtual joystick -->
</head>

<header>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a class="navbar-brand" href="/">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>

                <a class="navbar-brand" href="/">RCcar Control Center</a>
            </div>

            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-left">
                    <li><a href="/phone">Phone</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>

<br />
<br />

<body style="background: #f2f2f2">

    <div class="container-fluid">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-danger">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        {{message}}
                    </div>
                {% endfor %}
           {% endif %}
        {% endwith %}

        </br>
        </br>

        <!-- new row: -->
        <div class="row">

            <div class="col-md-12" id="test">
                <div class="chart-wrapper">
                    <div class="chart-title">

                    </div>

                    <div class="chart-stage" style="width:100%">
                        <div style="text-align: center">
                            </br>

                            <button type="button" id="up_button" class="btn btn-default btn-lg" style="width: 100%; height: 80px"><span class="glyphicon glyphicon-menu-up" aria-hidden="true"></span></button>

                            <br />

                            <button type="button" id="down_button" class="btn btn-default btn-lg" style="width: 100%; height: 80px"><span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span></button>

                            <br />

                            <button type="button" class="btn btn-default disabled" style="width: 100%; height: 50px"></button>

                            <br />

                            <div class="btn-group btn-group-justified" role="group">
                                <div class="btn-group">
                                    <button type="button" id="left_button" class="btn btn-default btn-lg" style="height: 80px"><span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span></button>
                                </div>
                                <div class="btn-group">
                                    <button type="button" id="right_button" class="btn btn-default btn-lg" style="height: 80px"><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></button>
                                </div>
                            </div>

                            <br />
                            <br />

                            <div class="btn-group" role="group">
                                <button type="button" id="manual_button" class="btn btn-default" style="width: 90px; height: 50px">Manual</button>
                                <button type="button" id="auto_button" class="btn btn-default" style="width: 90px; height: 50px">Auto</button>
                            </div>
                            </br>
                            </br>

                            <p>Current throttle direction: <span id="throttle_direction"></span> </p>
                            <p>Current steering direction: <span id="steering_direction"></span> </p>
                            <p>Current mode: <span id="mode"></span> </p>

                            <br />
                        </div>
                    </div>

                    <div class="chart-notes">

                    </div>
                </div>
            </div>

        </div>

    </div>

    <!-- external scripts: (the order DOES seem to matter) -->
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/socket.io.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/canvasjs.min.js') }}"></script>

    <script type="text/javascript" charset="utf-8">

        // buttons:
        function mode_handler(mode_data)
        {
            socket.emit("mode_event", {data: mode_data});
        }

        function throttle_arrow_handler(arrow_data)
        {
            socket.emit("throttle_arrow_event", {data: arrow_data});
        }

        function steering_arrow_handler(arrow_data)
        {
            socket.emit("steering_arrow_event", {data: arrow_data});
        }

        function data_handler(sent_dict)
        {
            document.getElementById("throttle_direction").innerHTML = sent_dict["throttle_direction"];
            document.getElementById("steering_direction").innerHTML = sent_dict["steering_direction"];
            document.getElementById("mode").innerHTML = sent_dict["mode"];
        }

        var socket = io.connect('http://' + document.domain + ':' + location.port);

        socket.on("new_data", data_handler);


        document.getElementById("up_button").addEventListener("touchstart", function () { throttle_arrow_handler("Forward") })
        document.getElementById("up_button").addEventListener("touchend", function () { throttle_arrow_handler("No_throttle") })
        document.getElementById("down_button").addEventListener("touchstart", function () { throttle_arrow_handler("Backward") });
        document.getElementById("down_button").addEventListener("touchend", function () { throttle_arrow_handler("No_throttle") });

        document.getElementById("right_button").addEventListener("touchstart", function () { steering_arrow_handler("Right") });
        document.getElementById("right_button").addEventListener("touchend", function () { steering_arrow_handler("No_steering") });

        document.getElementById("left_button").addEventListener("touchstart", function () { steering_arrow_handler("Left") });
        document.getElementById("left_button").addEventListener("touchend", function () { steering_arrow_handler("No_steering") });

        // buttons:
        document.getElementById("manual_button").addEventListener("touchstart", function () { mode_handler("Manual") })
        document.getElementById("auto_button").addEventListener("touchstart", function () { mode_handler("Auto") })
    </script>
</body>

</html>
